.todo-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('D:\My_All_Projects_React\project\apexproject\src\contactus.png') center/cover no-repeat;
  padding: 20px;
}

.outer-box {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(227, 122, 122, 0.1);
  text-align: center;
}

.inner-box {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.todo-list-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 1rem;
}

.add-button {
  padding: 3px 8px;
  background-color: rgb(198, 161, 161);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.8rem;
  height: 38px; /* Set the height to match the input field */
  width: auto; /* Adjust width to make it fit content */
  max-width: 100px; /* Set a maximum width to prevent button from expanding */
}

.add-button:hover {
  background-color: rgb(204, 58, 58);
}

.error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
}

.remove-button {
  padding: 3px 8px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.8rem;
  height: 38px; /* Set the height to match the input field */
  width: auto; /* Adjust width to make it fit content */
  max-width: 100px; /* Set a maximum width to prevent button from expanding */
}

.remove-button:hover {
  background-color: #dc5f6c;
}
